<!-- <div role="radiogroup">
  <span
    role="radio"
    *ngFor="let item of data"
    (click)="check(item)"
    [attr.aria-checked]="value === item"
    (keydown)="onKeydown(item, $event)"
    [tabindex]="focusableItem === item ? 0 : -1"
    #radio
    >{{ item }}</span
  >
</div> -->

<div role="radiogroup">
  <span
    role="radio"
    *ngFor="let item of data"
    (click)="check(item)"
    [attr.aria-checked]="value === item"
    (keydown)="onKeydown(item, $event)"
    [tabindex]="focusableItem === item ? 0 : -1"
    #radio
    ><span class="radio"><span class="radio-btn"></span></span
    ><span class="label">{{ item }}</span></span
  >
</div>
