@import 'variables';

.financial-years {
  width: 100px;
  height: 60px;
  border-right: 3px solid black;
  position: absolute;
  left: -110px;
  top: 26px;
  font-size: 1rem;
  font-weight: 100;
  padding-right: 10px;
  cursor: default;
}

.year {
  transition: 0.1s linear all;
  text-align: right;
  &.selected {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
