<div class="row">
  <div class="col-12">
    <shared-financial-year [(year)]="incomeYear"></shared-financial-year>
    <h2><span>Calculate my</span> <br />income tax <br /></h2>
    <div></div>
    <div>
      <shared-income
        [(income)]="income"
        [(frequency)]="payFrequency"
      ></shared-income>
    </div>
    <div>
      <shared-toggle
        [(checked)]="superannuationIncluded"
        label="including superannuation"
      ></shared-toggle>
    </div>
    <div style="display: flex;">
      <shared-radio-group [(value)]="residencyStatus"></shared-radio-group>
    </div>
    <div>
      <shared-toggle
        [(checked)]="help"
        label="HELP & TSL repayment"
        [disabled]="helpDisabled"
      ></shared-toggle>
    </div>
  </div>
</div>
<div class="result">
  <pc-income-tax-panel
    title="Yearly"
    [pay]="annuallyPayIncludingTaxOffsets$ | async"
    [taxableIncome]="annuallyTaxableIncome$ | async"
    [superannuation]="annuallySuperannuation$ | async"
    [totalTaxes]="annuallyIncomeTaxExcludingOffsets$ | async"
    [medicareLevy]="annuallyMedicareLevy$ | async"
    [incomeTax]="annuallyIncomeTax$ | async"
    [taxOffset]="annuallyTaxOffset$ | async"
    [helpTsl]="annuallyHELPnTSL$ | async"
  ></pc-income-tax-panel>
  <pc-income-tax-panel
    title="Monthly"
    [pay]="monthlyPay$ | async"
    [taxableIncome]="monthlyTaxableIncome$ | async"
    [superannuation]="monthlySuperannuation$ | async"
    [totalTaxes]="monthlyTotalPaygTaxes$ | async"
    [medicareLevy]="monthlyMedicareLevy$ | async"
    [incomeTax]="monthlyIncomePaygTax$ | async"
    [helpTsl]="monthlyHELPnTSL$ | async"
  ></pc-income-tax-panel>
  <pc-income-tax-panel
    title="Fortnightly"
    [pay]="fortnightlyPay$ | async"
    [taxableIncome]="fortnightlyTaxableIncome$ | async"
    [superannuation]="fortnightlySuperannuation$ | async"
    [totalTaxes]="fortnightlyTotalPaygTaxes$ | async"
    [medicareLevy]="fortnightlyMedicareLevy$ | async"
    [incomeTax]="fortnightlyIncomePaygTax$ | async"
    [helpTsl]="fortnightlyHELPnTSL$ | async"
  ></pc-income-tax-panel>
  <pc-income-tax-panel
    title="Weekly"
    [pay]="weeklyPay$ | async"
    [taxableIncome]="weeklyTaxableIncome$ | async"
    [superannuation]="weeklySuperannuation$ | async"
    [totalTaxes]="weeklyTotalPaygTaxes$ | async"
    [medicareLevy]="weeklyMedicareLevy$ | async"
    [incomeTax]="weeklyIncomePaygTax$ | async"
    [helpTsl]="weeklyHELPnTSL$ | async"
  ></pc-income-tax-panel>
</div>
