<div class="panel">
  <h2>{{ title }}</h2>
  <div class="information">
    <div class="title">
      Pay
    </div>
    <div class="value">
      {{ pay | currency }}
    </div>
  </div>
  <div class="information">
    <div class="title">
      Taxable Income
    </div>
    <div class="value">
      {{ taxableIncome | currency }}
    </div>
  </div>
  <div class="information">
    <div class="title">
      Superannuation
    </div>
    <div class="value">
      {{ superannuation | currency }}
    </div>
  </div>
  <div class="information">
    <div class="title">
      Total Taxes
    </div>
    <div class="value">
      {{ totalTaxes | currency }}
    </div>
  </div>
  <div class="information">
    <div class="title">
      Income Tax
    </div>
    <div class="value">
      {{ incomeTax | currency }}
    </div>
  </div>
  <div class="information">
    <div class="title">
      Medicare Levy
    </div>
    <div class="value">
      {{ medicareLevy | currency }}
    </div>
  </div>
  <div class="information">
    <div class="title">
      Help and Tsl
    </div>
    <div class="value">
      {{ helpTsl | currency }}
    </div>
  </div>
  <div class="information" *ngIf="taxOffset !== undefined">
    <div class="title">
      Tax Offsets
    </div>
    <div class="value">
      {{ taxOffset | currency }}
    </div>
  </div>
</div>
