.calculator-options {
  flex-grow: 1;
}

.panels-container {
  display: flex;
}

.result {
  display: flex;
}

.radios-container {
  display: flex;
  flex-direction: column;
  > * {
    margin-top: 5px;
  }
}
