:host {
  flex-grow: 1;
}
.panel {
  padding: 20px;
  text-align: left;
}
h2 {
  font-weight: normal;
  font-size: 1.3rem;
  font-weight: bold;
}
.information {
  font-size: 1.6rem;
  padding-top: 1rem;
}
.title {
  font-size: 1rem;
}
.value {
  font-weight: bold;
}
