@import 'variables';

$toggle-width: 3rem !default;
$toggle-padding: 0.1875rem !default;
$toggle-background: $gray-500 !default;
$toggle-focus-background: lighten($toggle-background, 5%) !default;
$toggle-checked-background: $teal !default;
$toggle-checked-focus-background: lighten(
  $toggle-checked-background,
  5%
) !default;
$toggle-font-family: $font-family-lato;
$toggle-transition-duration: 0.2s !default;
$toggle-button-size: 1rem;

$enable-toggle-rounded: true !default;
$enable-toggle-transition: true !default;

.toggle {
  display: flex;
  flex-direction: column;
}
.toggle-wrapper {
  display: inline-block;
  padding: $toggle-padding;
  width: $toggle-width;
  background: $toggle-background;
  border: 2px solid black;
  @if $enable-toggle-rounded {
    border-radius: $toggle-width/2;
  }
  @if $enable-toggle-transition {
    transition: $toggle-transition-duration background;
  }
  font-size: 0;
  .toggle-btn {
    position: relative;
    display: inline-block;
    width: $toggle-button-size;
    height: $toggle-button-size;
    background: $white;
    border: 2px solid black;
    @if $enable-toggle-rounded {
      border-radius: $toggle-button-size / 2;
    }
    @if $enable-toggle-transition {
      transition: $toggle-transition-duration left;
    }
    left: 0;
  }
  &:focus {
    background: $toggle-focus-background;
  }
  &.checked {
    background: $toggle-checked-background;
    .toggle-btn {
      left: $toggle-button-size;
    }
    &:focus {
      background: $toggle-checked-focus-background;
    }
  }
}
label {
  margin-left: 10px;
  font-family: $toggle-font-family;
  color: $gray-900;
}
