@import 'variables';

$toggle-width: 3rem !default;
$toggle-padding: 0.1875rem !default;
$toggle-background: $gray-300 !default;
$toggle-border-width: 0.15rem;
$toggle-border: $toggle-border-width solid $black;
$toggle-focus-background: lighten($toggle-background, 5%) !default;
$toggle-checked-background: $primary !default;
$toggle-checked-focus-background: lighten(
  $toggle-checked-background,
  5%
) !default;
$toggle-disabled-background: lighten($toggle-checked-background, 30%) !default;
$toggle-transition-duration: 0.2s !default;
$toggle-button-size: 1rem;

$enable-toggle-rounded: true !default;
$enable-toggle-transition: true !default;

.toggle {
  margin-top: 20px;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}
.toggle-wrapper {
  display: inline-block;
  padding: $toggle-padding;
  width: $toggle-width;
  background: $toggle-background;
  border: $toggle-border;
  @if $enable-toggle-rounded {
    border-radius: calc($toggle-width/2);
  }
  @if $enable-toggle-transition {
    transition: $toggle-transition-duration background;
  }
  font-size: 0;
  .toggle-btn {
    position: relative;
    display: inline-block;
    width: $toggle-button-size;
    height: $toggle-button-size;
    background: $white;
    border: $toggle-border;
    @if $enable-toggle-rounded {
      border-radius: calc($toggle-button-size / 2);
    }
    @if $enable-toggle-transition {
      transition: $toggle-transition-duration left;
    }
    left: 0;
  }
  &:focus {
    background: $toggle-focus-background;
  }
  &.checked {
    background: $toggle-checked-background;
    .toggle-btn {
      left: $toggle-width - $toggle-button-size - (2 * $toggle-border-width) -
        (2 * $toggle-padding);
    }
    &:focus {
      background: $toggle-checked-focus-background;
    }
  }
}
label {
  margin-left: 10px;
  font-weight: 700;
}
