@import 'bootstrap-grid';

@import 'spacing';
@import 'heading';

:focus {
  outline: none;
}

html {
  background: url('assets/images/blue-snow.png');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
