@import 'variables';

$checkbox-padding: 0.2rem !default;
$checkbox-background: $gray-300 !default;
$checkbox-border-width: 0.14rem;
$checkbox-checked-background: $primary !default;
// $checkbox-size: 1.4rem;
$checkbox-button-size: 1rem;

.wrapper {
  position: relative;
  input {
    height: $checkbox-button-size;
    left: 0;
    opacity: 0;
    top: 0;
    width: $checkbox-button-size;
    & + label::before {
      border: $checkbox-border-width solid black;
      content: '';
      height: 25px;
      left: 0;
      position: absolute;
      top: 0;
      width: 25px;
      background: $checkbox-background;
      border-radius: 3px;
    }
    & + label::after {
      content: '';
      border: 3px solid;
      border-left: 0;
      border-top: 0;
      height: 14px;
      left: 8px;
      opacity: 0;
      position: absolute;
      top: 3px;
      transform: rotate(45deg);
      transition: opacity 0.2s ease-in-out;
      width: 9px;
      color: white;
    }
  }
}

.wrapper input:checked + label::after {
  opacity: 1;
}
